
@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
@section Body {
    <div class="table-layout hasborder">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>CODE</th>
                    <th>项目</th>
                    <th>百分比</th>
                    <th>含税金额</th>
                    <th>税拨金额</th>
                </tr>
            </thead>

            <tr>
                <td>1</td>
                <td>K</td>
                <td>機器</td>
                <td></td>
                <td><input class="easyui-numberbox" type="text" id="_extend_1" name="_extend_1" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="_extend_2" name="_extend_2" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>2</td>
                <td>L</td>
                <td>材料</td>
                <td></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_3" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_4" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>3</td>                                          
                <td>B</td>                                          
                <td>工事</td>                                       
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_5" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_6" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>4</td>                                          
                <td>D1</td>                                         
                <td>饭設費</td>                                     
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_7" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_8" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>5</td>                                          
                <td>E</td>                                          
                <td>企国設計費</td>                                 
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_9" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_10" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>6</td>                                          
                <td>A</td>                                          
                <td>工事用消耗資材</td>                             
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_11" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_12" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>7</td>                                          
                <td>C</td>                                          
                <td>現場臨時具勞務費</td>                           
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_13" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_14" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>8</td>                                          
                <td>D2</td>                                         
                <td>反設事務費</td>                                 
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_15" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_16" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>9</td>                                          
                <td>F</td>                                          
                <td>監督竞(笪率，旅費)</td>                         
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_17" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_18" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>10</td>                                         
                <td>G</td>                                          
                <td>工具損料</td>                                   
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_19" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_20" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>11</td>                                         
                <td>H</td>                                          
                <td>保険料(受注金額*0.18%)</td>                     
                <td><input class="easyui-numberbox" type="text" id=""name="rl08227" value="0.18" for-edit="textbox" data-options="precision:2,suffix:'%'" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_21" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_22" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>12</td>                                         
                <td>J1</td>                                         
                <td>雜費</td>                                       
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_23" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_24" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>13</td>                                         
                <td>J2</td>                                         
                <td>雜費(光熱·事務用品·交通·通信費他)</td>       
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_25" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_26" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>14</td>
                <td>J3</td>
                <td>城建税及び附加等</td>
                <td><input class="easyui-numberbox"  type="text" id="" name="rl08244" value="12" for-edit="textbox" data-options="precision:2,suffix:'%'" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="rl08228" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="rl08228" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>15</td>
                <td>J4</td>
                <td>差旅费/交通费</td>
                <td></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_29" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_30" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>16</td>
                <td>J5</td>
                <td>通讯費/通信費</td>
                <td></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_31" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_32" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>17</td>
                <td>J6</td>
                <td>交際费(受注額*0.2%)</td>
                <td><input class="easyui-numberbox" type="text" id="" name="rl08245" value="0.20" for-edit="textbox" data-options="precision:2,suffix:'%'" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_33" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_34" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>18</td>
                <td>J8</td>
                <td>福利费/福利费</td>
                <td></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_35" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_36" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>20</td>
                <td>M</td>
                <td>保管運搬费</td>
                <td></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_37" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_38" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
            <tr>
                <td>21</td>
                <td>N</td>
                <td>企画設計费(機器納入設計企画)</td>
                <td></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_39" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_40" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>22</td>                                         
                <td>KP</td>                                         
                <td>小計(直接費)</td>                               
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="_kp" name="rl08229" value="" readonly="readonly" data-options="precision:2" /></td>
                <td><input class="easyui-numberbox" type="text" id="" name="rl08246" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>23</td>                                         
                <td><input class="easyui-numberbox" type="text" id="" name="rl08230" value="" for-edit="textbox"   data-options="precision:2,suffix:'%'" /></td>
                <td>割掛率(会杜經費)</td>                           
                <td></td>                                           
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_41" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>24</td>                                         
                <td><input class="easyui-numberbox" type="text" id="" name="rl08231" value="" for-edit="textbox"  data-options="precision:2,suffix:'%'" /></td>
                <td>技術提携料(受注金额比率)</td>                   
                <td></td>                                           
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_42" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>25</td>                                         
                <td><input class="easyui-numberbox" type="text" id="" name="rl08232" value="" for-edit="textbox"  data-options="precision:2,suffix:'%'" /></td>
                <td>小計(經党)</td>                                 
                <td></td>                                           
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="_extend_43" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>                                                   
            <tr>                                                    
                <td>26</td>                                         
                <td>BP</td>                                         
                <td>実行予算総合計</td>                             
                <td></td>                                           
                <td></td>                                           
                <td><input class="easyui-numberbox" type="text" id="" name="rl08233" value="" readonly="readonly" data-options="precision:2" /></td>
            </tr>
        </table>
    </div>
}