@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
@section HeaderStyles{

}
@section Body {
    <div class="table-layout hasborder" style="overflow:auto">
        <table id="_schedulePlanning_select_Grid" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>年/月</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>請求出来高</td>
                </tr>
                <tr>
                    <td>実行出来高</td>
                </tr>
                <tr>
                    <td>进度合计</td>
                </tr>
            </tbody>
        </table>
        @*<table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>年/月</th>
                    <th>16/5月</th>
                    <th>16/6月</th>
                    <th>16/7月</th>
                    <th>16/8月</th>
                    <th>16/9月</th>
                    <th>16/10月</th>
                    <th>16/11月</th>
                    <th>16/12月</th>
                    <th>17/1月</th>
                    <th>17/2月</th>
                    <th>17/3月</th>
                </tr>
            </thead>
            <tr>
                <td>請求出來高</td>
                <td class="textright">5%</td>
                <td class="textright">5%</td>
                <td class="textright">10%</td>
                <td class="textright">10%</td>
                <td class="textright">10%</td>
                <td class="textright">10%</td>
                <td class="textright">15%</td>
                <td class="textright">20%</td>
                <td class="textright">5%</td>
                <td class="textright">5%</td>
                <td class="textright">5%</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>*@
    </div>

}
