
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title> 
    <script src="~/Content/TComponent/jquery-1.12.4.min.js"></script>
    <script src="~/Content/TComponent/javascripts/home.js"></script>
    <link href="~/Content/TComponent/styles/home.css" rel="stylesheet" />
</head>
<body>
    <div class="loader"></div>
    <div class="wrapper"></div>
</body>
</html>
